*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/bg.png)
}

hr {
    margin: auto;
    width: 30%;
    padding: 2px;
    border: none;
    background: linear-gradient(180deg, #247BA0 0%, rgba(36, 123, 160, 0.911458) 8.85%, rgba(36, 123, 160, 0.24) 100%);
}

.wrapper
{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.wrapper{
    background: #F5F5F4;
    width : 410px;
    padding : 30px;
    box-shadow: 0 0 8px #615B5B;
}

.wrapper .login
{
    font-size: 35px;
    font-weight: 500;
    color: #201D1D;
    text-align: center;
}

.wrapper form{
    margin-top: -20px;
}

.wrapper form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data label{
    font-size: 18px;
}

.wrapper form input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 17px;
    background: #F4F4F6;
    color: #615B5B;
    border: 1px solid lightgrey;
}

form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
form .forgot-pass{
  margin-top: -8px;
}
form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
}
form .forgot-pass a:hover{
  text-decoration: underline;
}

form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: linear-gradient(180deg, #247BA0 0%, rgba(36, 123, 160, 0.911458) 8.85%, rgba(36, 123, 160, 0.24) 100%);
  transition: all 0.4s;
}

form .btn:hover .inner{
  left: 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #201D1D;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}